{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<div class="row no-gutters vertical_menu">
  <div class="col-sm-6 col-md-2"> 
    <nav class="navbar-dark bg-dark">
      {% include "menu.html"%}
    </nav>

</div>
<div class="col-sm-6 col-md-10">
  <div class="allauth_css">
    <div class="menu_container">
<div class="login_header">
    <h1>{% trans "Password Reset" %}</h1>
</div> 
<div class="allauth_body"> 

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-warning"/>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

