<footer class="fixed-bottom">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-md-3">
          <div class="footer_container">
            <h6 class="text-white">© 2020 Copyright</h6>
            <p class="text-white">
            <a class="text-reset right" href="https://www.facebook.com/jansgreen00">
              Luis Pena
            </a>
          </p>

            <h6 class="text-white">(Dev. Student of Code Institute)</h6>
          </div>
        </div>
      </div>
    </div>
  </footer>